*, ::after, ::before {
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;
}
img{
    vertical-align: middle;
}
p{
    color: #566b8d;
    margin: 0;
}
body{
    margin: 0;
    font-family: 'SF Pro Display', sans-serif;
    letter-spacing: 0.5px;
    color: #1A232F;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d7eaff ;
  height: 50px;
  margin: 0px 140px;
  max-width: 1320px; 
  margin-left: auto;
  margin-right: auto;
}
.head1-t1{
   margin-right: 3rem;
   font-size: 13px; 
}
.head1-b1{
    padding: 6px 10px;
    font-size: 12px;
    color: #989ca2;
    text-decoration: none;
    border-radius: 50rem;
    border-style: solid;
    background-color: rgba(152, 156, 162, 0.15);
    border-color: rgba(152, 156, 162, 0.15);
    border-width: 1px;
}
nav{
    padding: 8px 0px;
}
.nav1{
    max-width: 1320px; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 0px 12px;
}
.nav1-i1{
    padding-top: 0.3rem;
    padding-bottom: 0.3em;
    margin-right: 2rem;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 195px;
}
nav ul li{
    margin-right: 24px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 14px;
}
.nav1-b1{
    background-color: #3597ff;
    border-color: #3597ff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-style: none;
    border-radius: 0.5rem;
    padding: 0px 20px;
    margin-top: 10px;
    max-height: 45px;
    
}
.welcome{
    background-color: #3597ff;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 48px;
}
.main{
    color: white;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 48px 0px;
    padding: 48px 12px;
}

.welcome-t1{
    font-size: 40px;
    font-weight: 300;
}

.welcome-t2{
    font-size: 16px;
    color: white;
}
.why-openlab{
    padding: 48px 0px;
    max-width: 1320px; 
    margin-left: auto;
    margin-right: auto;
}
.why-openlab-t{
    padding: 0 12px;
}
.why-openlab-t1 {
    justify-content: center;
    font-weight: normal;
    font-size: 2.5rem;
    display: flex;
    margin-bottom: 48px;
} 

.why-openlab-t2 {
    text-align: center;
    font-size: medium;
    justify-content: center;
    display: flex;
    margin: 0px 48px 16px;
}
.cards {
    display: flex;
    justify-content: center;
}
.cards h3 {
    font-weight: bold;
    margin: 16px 0px 8px 0px;
}
.karta {
    max-width: 350px;   
    padding: 48px 12px 0px ;
}




.cisla-text {
    padding-left: 100px;
    display: flex;
    justify-content: left;
}

.space {
    padding-top: 12px;
    display: flex;
    justify-content: left;
    
}
.cisla-textsmol {
    padding-left: 100px;
    padding-right: 800px;
    color: #566b8d;
}
.cisla-textbold {
    padding-bottom: 25px;
    padding-left: 100px;
    padding-top: 150px;
}

