*,::after,::before {
    box-sizing:border-box
}
body::-webkit-scrollbar {
    display:none
}
img {
    vertical-align:middle
}
p {
    margin: 0;
}
body {
    margin:0;
    font-family:"SF Pro Display",sans-serif;
    letter-spacing:.5px;
    color:#1a232f
}
header {
    display:flex;
    align-items:center;
    justify-content:center;
    border-bottom:1px solid #d7eaff;
    height:50px;
    margin:0 140px;
    max-width: 1320px;
    margin: auto;
}
.head1-t1 {
    margin-right:3rem;
    font-size:13px
}
.head1-b1 {
    padding:6px 10px;
    font-size:12px;
    color:#989ca2;
    text-decoration:none;
    border-radius:50rem;
    border-style:solid;
    background-color:#989ca226;
    border-color:#989ca226;
    border-width:1px
}
nav {
    padding:8px 0;
    max-width: 1320px;
    margin: auto;
}
.nav1 {
    display:flex;
    padding:0 12px
}
.nav1-i1 {
    padding-top:.3rem;
    padding-bottom:.3em;
    margin-right:2rem
}
nav ul {
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:space-between
}
nav ul li {
    margin-right:24px;
    font-size:14px;
    font-weight:500;
    margin-bottom:14px
}
.nav1-b1 {
    background-color:#3597ff;
    border-color:#3597ff;
    color:#fff;
    font-size:14px;
    cursor:pointer;
    border-style:none;
    border-radius:.5rem;
    padding:0 20px;
    margin-top:10px;
    max-height:45px;
    margin-left: auto;
}
.welcome {
    background-color:#3597ff;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    margin-bottom:48px;
    max-width:none!important
}
.welcome1 {
    color:#fff;
    width:500px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin:48px 0;
    padding:48px 12px
}
.welcome1-t1 {
    font-size:40px;
    font-weight:300
}

.welcome1-t2 {
    font-size:16px;
    color:#fff
}
.circle{
    width: 480px;
    position: absolute;
    top: 400px;
    right: -250px;
}
.why-openlab {
    padding:64px 0;
    max-width: 1320px;
    margin: auto;
}
.why-openlab-t {
    padding:0 12px
}
.why-openlab-t1 {
    justify-content:center;
    font-weight:400;
    font-size:2.5rem;
    display:flex;
    margin-bottom:48px;
}
.why-openlab-t2 {
    text-align:center;
    font-size:medium;
    justify-content:center;
    display:flex;
    margin:0 48px 16px;
    color:#566b8d;
}
.cards {
    display:flex;
    justify-content:center
}
.cards h3 {
    font-weight:700;
    margin:16px 0 8px
}
.karta {
    max-width:350px;
    padding:48px 12px 0
}
.vizia {
    max-width: 1320px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 68px 0;
}
.vizia-t {
    padding:12px 0;
    width:50%
}
.vizia-t1 {
    font-size:1.5rem;
    margin-bottom:48px
}
.vizia-t1 h2 {
    font-weight:lighter
}
.vizia-t1 span {
    font-weight:700
}
.vizia-t2 p{
    color:#566b8d;
    margin-bottom: 24px;
}
.cisla {
    display:grid;
    grid-template-columns:200px 200px;
    grid-row:auto auto;
    grid-column-gap:2px;
    grid-row-gap:2px;
    text-align: right;
    justify-content: flex-end;
    width: 50%;
}
.cisla1, .cisla2, .cisla3, .cisla4{
    padding: 16px 24px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 4%;
}
.cisla1 {
    background-color:#f1f7fd;
    color:#5b94d7;
}
.cisla1-t1 {
    font-size:90px;
    font-weight:700;
    margin: 0;
}
.cisla1-t2 {
    margin: 0;
}
.cisla2 {
    background-color:#d7f8eb;
    color:#5cc19a!important;
}
.cisla2-t1 {
    font-size:90px;
    font-weight:700;
    margin: 0;
}
.cisla3 {
    background-color:#f8f3d7;
    color:#dbca68!important;
}
.cisla3-t1 {
    font-size:90px;
    font-weight:700;
    margin: 0;
    
}
.cisla4 {
    background-color:#f8d7d7;
    color: #b95e73;
}
.cisla4-t1 {
    font-size:90px;
    font-weight:700;
    margin: 0;
}
.labs{
    padding: 62px 0;
    max-width: 1320px;
    margin: auto;
}
.labs-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.labs1{
    width: 40%;
}
.labs1-t{
    font-size: 225%;
}
.labs1-t span{
    font-weight: bold;
}
.labs2{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
    justify-content: flex;
}
.labs2-b{
    border-radius: 4%;
    padding: 24px 48px 48px 48px;
    width: 33%;
}
.labs2-b-t1{
    font-size: 20px;
    margin: 0 0 8px;
}
.labs2-b-t2{
    font-size: 14px;
    margin: 0 0 10px;
    color:#566b8d;
    font-weight: 500;
}
.labs2 :hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    text-shadow: none; 
}